# node
node_modules
.DS_Store

# build
lib
dist
.env
.dfx
.dfinity
.gpteng
prompt
lerna-debug.log
yarn-error.log

target
pulled.json
examples/*/deps/candid
candid-ui
orbit-wallet
docs
.nx
umd

packages/svelte

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions