[submodule "examples/candid-ui"]
	path = examples/candid-ui
	url = git@github.com:b3hr4d/candid-ui.git
[submodule "examples/ui-builder"]
	path = examples/ui-builder
	url = git@github.com:b3hr4d/ui-builder.git
